<div className="flex flex-col items-center justify-center w-full bg-type-white-tertiary">
  <%= render(HeaderComponent.new(type: :danger)) %>
  <%= render(TypographyComponent.new(type: :danger)) %>
  <%= render(ColorsComponent.new(type: :danger)) %>
</div>
